{#
/**
 * @file
 * Default theme implementation to print Angular DATA.
 *
 *
 * @ingroup themeable
 */
 * 
 #}
 <div id="content-form-registration" >
  <form ng-controller="inscripcion">
    <div class="card hoverable">
      <div class="card-image">
        <p class="card-title">Registro de Persona</p>
      </div>
      <div class="row card-content">
        <div class="input-field col m12 s12">
          <label for="nombre_item">Nombre</label>
          <input id="nombre_item" type="text" class="validate" ng-model="name">
        </div>
        <div class="input-field col m6 s12">
          <label for="codigo_item">Cantidad de personas a crear</label>
          <input id="codigo_item" type="number" class="validate" ng-model="cantidad">
        </div>
        {#<div class="input-field col m6 s12">
          <input id="unidad_item" type="text" class="validate" ng-model="unidad">
          <label for="unidad_item">Unidad</label>
        </div>#}
      </div> 
      <div class="row card-action">
        <div class="col s12">
          <a class="waves-effect waves-light btn-large" href="#" ng-click="submit()">Guardar</a>
        </div>
      </div>
      <div class="input-field col m12 s12">
        <label for="nombre_item">Tiempo transcurrido</label>
        <h5>{{'{{tiempo}}'}}</h5>
      </div>
    </div>
  </form>
</div>