{#
/**
 * @file
 * Default theme implementation to print Angular DATA.
 *
 *
 * @ingroup themeable
 */
 * 
 #}
 <div id="content-form-registration" >
  <form ng-controller="inscripcion">
    <div class="card hoverable">
      <div class="card-image">
        <p class="card-title">Registro de Persona</p>
      </div>
      <table>
        <thead>
          <th>ID</th>
          <th>Nombre</th>
        </thead>
        <tbody>
          <tr ng-repeat = "r in resPersonas">
            <td>{{'{{r.id}}'}}</td>
            <td>{{'{{r.name}}'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>