{#
/**
 * @file persona.html.twig
 * Default theme implementation to present Persona data.
 *
 * This template is used when viewing Persona pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_persona()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('persona') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
